*{
    margin:0;
    padding:0;
}
li{
    list-style: none;
}
img{
    vertical-align: middle;
}
.results{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.results li{
    width:200px;
}
.results li img{
    width:100%;
}